// Compile "main.scss" as "css/main.css"

/**
 * Import Bootstrap sources
 * https://getbootstrap.com/docs/5.2/customize/sass
 */

// @import "../node_modules/bootstrap/scss/bootstrap"; // Include all of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// Options
$enable-dark-mode: false;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-caret: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-smooth-scroll: true;

$spacer: 1rem;

// Grayscale vars
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Color vars
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$background-color-light: #f3ece5;
$feldblick-gruen: #0a462b;
$feldblick-orange: #ff7300;
$feldblick-gruen_highlight: #127b4b;
$footer-gruen: #082f1d;
$feldblick-braun: #462922;
$feldblick-gold: #ae9974;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
$font-family-sans-serif: Jost, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$primary: $feldblick-gruen;
$secondary: $feldblick-braun;

// merge with existing $theme-colors map
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $feldblick-gruen,
    "secondary": $feldblick-braun,
  )
);

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// Custom imports
@import "./scrolltop.scss";

/**
 * General
 */

html {
  scroll-behavior: smooth;
}

.title {
  font-size: calc(1.8rem + 1.5vw);
  letter-spacing: 0.05em;
}

a {
  color: var(--bs-body-color);

  &:hover {
    color: $feldblick-gruen_highlight;
  }
}

.hard {
  p {
    color: var(--bs-body-color) !important;
    text-align: center !important;
  }
}

body {
  &.page-template-page-full {
    #main {
      max-width: 100%;
    }
  }

  /* If WP-Adminbar is visible */
  &.admin-bar {
    #header.fixed-top {
      top: var(--wp-admin--admin-bar--height);
    }

    .edit-link a {
      color: #fff !important;
      font-weight: normal !important;
      text-decoration: none !important;

      &::before {
        content: "\270E";
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

img {
  vertical-align: middle;
}

.btn {
  border-radius: 0;
  max-width: 300px;
}

/**
 * WordPress customization
 */

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
  margin: 5px 0;
  width: 100% !important;
}

.post,
.post-thumbnail {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* Header */

.header-light {
  color: $background-color-light;
}

.header-dark {
  color: var(--bs-body-color);
}

.nav-color-white {
  --bs-navbar-color: white;
}
.nav-color-black {
  --bs-navbar-color: var(--bs-body-color);
}

.navbar-nav {
  background-color: $background-color-light;
  font-size: 16px;

  .nav-item {
    padding: 0 1rem;

    .nav-link {
      &:hover {
        color: $feldblick-gruen_highlight;
      }
    }
  }
}

.navbar-absolute {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1030;
  &:not(.isFront) {
    top: 200px;
  }
  &.isFront {
    bottom: 0;
    transition: bottom 0.2s ease-in-out;
  }
}

.navbar {
  background-color: $background-color-light;
  padding: 0.5rem 0;
  height: 56px;
  &.fixed-top {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.brand {
  margin-bottom: 4rem;
  align-self: center;
  .lc-block {
    text-align: center;
    img {
      width: 300px;
      height: auto;
    }
  }
  &.small {
    margin-bottom: -1rem;
    .lc-block {
      padding-left: 13px;
      img {
        width: 200px;
        height: auto;
      }
    }
  }
}

@media (min-width: breakpoint-min(sm)) {
  .brand {
    align-self: end;
    .lc-block {
      padding: 0 3rem;
      img {
        width: 400px;
        height: auto;
      }
    }
    &.small {
      .lc-block {
        img {
          width: 270px;
          height: auto;
        }
      }
    }
  }
}

@media (min-width: breakpoint-min(lg)) {
  .brand {
    align-self: end;
    .lc-block {
      padding: 0 3rem;
      img {
        width: 500px;
        height: auto;
      }
    }
    &.small {
      .lc-block {
        img {
          width: 270px;
          height: auto;
        }
      }
    }
  }
}

.hide {
  visibility: hidden;
}

/* Main */
#main {
  margin-top: 0px !important;
}

.oeffnungszeit {
  color: $feldblick-gruen;
}

// .wiese {
//   z-index: 1;
//   position: relative;

//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     height: 300px;
//     width: 300px;
//     background-repeat: no-repeat;
//     background-position: center;
//     z-index: -1;
//     aspect-ratio: 1/1;
//     background-size: contain; // wichtig für korrektes Skalieren
//     max-width: 40vw; // responsive Breite, z.B. max. 30% vom Viewport
//   }

//   &::before {
//     background-image: url(../assets/img/hintergrund-kraeuter.svg);
//     bottom: 20px;
//     left: 50px;
//   }

//   &::after {
//     height: 400px;
//     width: 400px;
//     background-image: url(../assets/img/hintergrund-fahrrad.svg);
//     top: -40px;
//     right: 50px;
//   }

//   @include media-breakpoint-up(md) {
//     .vorstellung {
//       padding-left: 5rem;
//       padding-right: 5rem;
//     }
//   }

//   @include media-breakpoint-up(lg) {
//     background-size: contain;
//     .vorstellung {
//       padding-left: 10rem;
//       padding-right: 10rem;
//     }
//   }

//   @include media-breakpoint-up(xl) {
//     .vorstellung {
//       padding-left: 15rem;
//       padding-right: 15rem;
//     }
//   }
// }

.wiese {
  z-index: 1;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    aspect-ratio: 1 / 1;
    width: auto;
  }

  &::before {
    background-image: url(../assets/img/hintergrund-kraeuter.svg);
    bottom: 115px;
    height: 250px;
    left: -20px;
  }

  &::after {
    background-image: url(../assets/img/hintergrund-fahrrad.svg);
    top: -40px;
  }

  @include media-breakpoint-up(sm) {
    &::before {
      height: 250px;
      bottom: 60px;
      left: -30px;
    }
  }

  @include media-breakpoint-up(md) {
    .vorstellung {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    &::before {
      height: 250px;
      left: -30px;
    }
  }

  @include media-breakpoint-up(lg) {
    .vorstellung {
      padding-left: 10rem;
      padding-right: 10rem;
    }

    &::before {
      height: 250px;
      left: -30px;
    }

    &::after {
      height: 300px;
      right: -60px;
      top: 15px;
    }
  }

  @include media-breakpoint-up(xl) {
    .vorstellung {
      padding-left: 15rem;
      padding-right: 15rem;
    }

    &::before {
      height: 300px;
      left: 25px;
    }

    &::after {
      height: 350px;
      right: -60px;
    }
  }

  @include media-breakpoint-up(xxl) {
    &::before {
      height: 300px;
      left: 50px;
    }

    &::after {
      height: 400px;
      right: 50px;
    }
  }

  @media screen and (min-width: 1670px) {
    .vorstellung {
      padding-left: 25rem;
      padding-right: 25rem;
    }
  }
}

.speisen {
  z-index: 1;
  position: relative;
  overflow: hidden;

  .row {
    @include media-breakpoint-up(md) {
      .eintrag:nth-child(odd) {
        padding-right: 1.5rem;
      }
      .eintrag:nth-child(2n) {
        padding-left: 1.5rem;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    aspect-ratio: 1 / 1;
    width: auto;
    height: 250px;
    background-image: url(../assets/img/hintergrund-kuchen.svg);
    top: 5px;
    right: -55px;
  }

  @include media-breakpoint-up(sm) {
    &::after {
      height: 270px;
      top: -35px;
      right: -40px;
    }
  }

  @include media-breakpoint-up(md) {
    &::after {
      height: 300px;
      top: -65px;
      right: -25px;
    }
  }

  @include media-breakpoint-up(lg) {
    &::after {
      height: 300px;
      top: -90px;
      right: 50px;
    }
  }

  @include media-breakpoint-up(xl) {
    &::after {
      height: 350px;
      top: -90px;
      right: 70px;
    }
  }

  @media screen and (min-width: 1670px) {
    &::after {
      height: 400px;
      top: -95px;
      right: 50px;
    }
  }
}

// optischer Zettelriss bei Bildern
.riss-container {
  position: relative;

  .min-vh-100 {
    margin-bottom: 15px;
  }
}
.riss-svg {
  mask-image: url(../assets/img/riss.svg);
  mask-size: cover;
  height: 30px;
  width: 100%;
  background-color: $background-color-light;
  position: absolute;

  &.bottom {
    transform: rotate(180deg);
    top: unset;
    bottom: -1px;
  }

  &.top {
    transform: rotate(180deg);
    top: -30px;
  }
}

.block {
  &.block-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  background-color: $background-color-light;

  &.white {
    background-color: white;
  }

  .h-small {
    font-size: 20px;
  }
  h1 {
    display: block;
    padding: 0 0 29px;
    margin: 0 auto 29px;
    position: relative;
    color: $primary;
    &:before {
      content: " ";
      position: absolute;
      display: block;
      width: 56px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      opacity: 1;
      border-top: 4px solid $feldblick-gruen;
      -webkit-transition: all 0.3s ease-in-out 0.3s;
      -moz-transition: all 0.3s ease-in-out 0.3s;
      transition: all 0.3s ease-in-out 0.3s;
    }
    &.center {
      &:before {
        left: 0%;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        transform: translateX(0%);
      }
    }
  }

  .btn {
    margin-top: 1rem;
  }
}

//Speisekarte Startseite
.dots-container {
  width: 100%;

  h5 {
    display: inline-block;
    padding-right: 5px;
    max-width: 90%;

    span {
      display: inline;
      max-width: 90%;
      padding-right: 5px;
      line-height: 26px;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent calc(100% - 10px),
        $background-color-light calc(100% - 10px),
        $background-color-light calc(100% - 7px),
        transparent calc(100% - 7px),
        transparent 100%
      );
    }
  }

  .mkd-pli-dots {
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px;
    margin-bottom: 6px;
    margin-top: -9px;
    width: calc(100% - 10px);
  }
}

.speisen {
  .row > * {
    padding-right: 0;
  }

  h5 {
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    .container {
      padding: 0;
    }
  }
}

.mkd-pli-price {
  color: $feldblick-gold;
  white-space: nowrap;
}

.mkd-pli-desc {
  color: $gray-600;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

//Kontakt

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="date"],
.wpcf7-form textarea {
  color: #1f252b;
  width: 100%;
  padding: 12px 16px;
  border-radius: 0;
  border: 0;
}
.wpcf7-form textarea {
  height: 200px;
}
.wpcf7-form p {
  margin: 0 0 28px;
}
.wpcf7-text:focus,
.wpcf7-textarea:focus {
  outline: 1px solid $feldblick-gruen;
  outline-offset: 0;
}

.wpcf7-not-valid {
  outline: 1px solid red;
}

.wpcf7-submit {
  display: table;
  margin: 0 auto;
  border-radius: 0;
}

/* First we hide the default CF7 loader */
.wpcf7-spinner {
  display: none;
}
.wpcf7-spinner::before {
  display: none;
}

// Aktuelles
.card-img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card {
  background: transparent;
  cursor: pointer;
  height: 100%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);

  &:hover {
    box-shadow: 5px 1px 16px 1px rgba(0, 0, 0, 0.05);
    transform: scale(1.03, 1.03);
  }
}

.card-body {
  background: white;
}

.card-footer {
  background: white;
  border: 0;
  display: flex;
  justify-content: end;
}

/* Footer */

#footer {
  background-color: $footer-gruen;
  color: #fff;

  a,
  .fa-facebook-f {
    color: #fff;
    text-decoration: none;
    position: relative;
    &:hover {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    }
  }

  .icon {
    font-size: 20px;
  }

  p {
    margin-top: 10px;
  }

  .menu-item {
    a {
      &[aria-current="page"] {
        color: $link-hover-color;
      }
    }
  }

  .footer-rows {
    .facebook {
      justify-content: center;
    }
    .bloginfo {
      justify-content: end;
    }
    @media (max-width: breakpoint-max(lg)) {
      .impressum,
      .facebook,
      .bloginfo {
        justify-content: center;
        margin-bottom: 5px;
      }
    }
  }
}

/* Sidebar */

.widget-area {
  ul {
    list-style: none;
    padding: 0;
  }
}

/* Author */

.author-avatar {
  .avatar {
    width: 64px;
    height: auto;
  }
}

.author-info {
  margin: 40px 0;

  h2,
  h3 {
    margin-top: 0;
  }
}
.imagetiles {
  img {
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
}
/* Posts */

.sticky {
  .card {
    background-color: $gray-100;
  }
}

.entry-meta {
  font-size: small;
  margin-top: ($grid-gutter-width * 0.5);
}

.single {
  .entry-content,
  .post-navigation,
  #comments-title {
    margin: $grid-gutter-width 0;
  }
}

.comment-list {
  list-style: none;
  padding-left: 0;
  .reply {
    font-size: 15px;
    font-weight: 400;
  }
  .children {
    list-style: none;

    > li.comment {
      padding-top: 5px;
      border-top: 1px solid $gray-300;
    }
  }

  .avatar {
    border-radius: 50%;
    box-shadow: 0 1px 2px $gray-600;
    padding: 0;
  }
  .comment-edit-link {
    &:hover {
      color: white;
      background-color: $feldblick-gruen_highlight !important;
    }
  }
}

.comment-meta {
  height: 40px;
}

.comment-reply-title {
  margin: $grid-gutter-width 0 ($grid-gutter-width * 0.5);
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
  &.is-style-outline {
    .wp-block-button__link {
      @extend .btn;
      @extend .btn-outline-primary;
    }
  }

  &.btn-lg {
    .wp-block-button__link {
      @extend .btn-lg;
    }
  }
  &.btn-sm {
    .wp-block-button__link {
      @extend .btn-sm;
    }
  }

  .wp-block-button__link {
    @extend .btn;
    @extend .btn-primary;
    text-decoration: none;
  }
}

// Table

.wp-block-table {
  td,
  th {
    border: inherit;
  }

  table {
    @extend .table;
  }
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
  img,
  video {
    height: auto;
  }
}

.parallax-video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}

.video-height {
  height: 100svh;
}

/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

@media (max-width: breakpoint-max(sm)) {
  #sidebar {
    margin-top: 60px;
  }
}

// Impressum Page
.impressum,
.datenschutz {
  padding: 0 8rem;
  overflow-wrap: break-word;

  @media (max-width: breakpoint-max(md)) {
    padding: 0 4rem;
  }
  @media (max-width: breakpoint-max(sm)) {
    padding: 0 0rem;
  }
}

//Header Image

.header-image {
  background-image: url("../assets/img/fahrradcafe-fahrrad-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 200px;
}

.page-height {
  min-height: calc(100vh - 278px);
}

// 404 Page
.not-found {
  h1 {
    padding-top: 80px;
    text-align: center;
  }
  .fundo {
    animation: scales 3s alternate infinite;
    transform-origin: center;
  }
  .pao-baixo {
    animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
    transform-origin: center;
  }
  .pao-cima {
    animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
    transform-origin: center;
  }
  .olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
  }

  .left-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 150px 156px;
  }

  .right-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 310px 150px;
  }

  .olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
  }
  @keyframes scales {
    from {
      transform: scale(0.98);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes rotatepao {
    0% {
      transform: rotate(0deg);
    }
    50%,
    60% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes olhos {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(30deg);
    }
  }

  @keyframes left-sparks {
    0% {
      opacity: 0;
    }
  }

  .main {
    min-height: 400px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .path {
    stroke: $primary;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 4s alternate infinite;
  }

  @keyframes dash {
    0%,
    30% {
      fill: $feldblick-gruen_highlight;
      stroke-dashoffset: 0;
    }
    80%,
    100% {
      fill: transparent;
      stroke-dashoffset: -200;
    }
  }
}

.input {
  color: #1f252b;
  width: 100%;
  padding: 12px 16px;
  border-radius: 0;
  border: 1px solid black;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
  border: 1px solid black;
  &:checked {
    background-color: $primary;
    border-color: $primary;
  }
}

// Über-uns-Seite
#about-us {
  padding-top: 5rem;
  .row2 {
    padding-bottom: 2rem;
  }

  .container {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    .container {
      text-align: left;
    }
  }
}

#spenden {
  margin: 6rem 0;
  padding-left: 0;
}

#stellenangebot {
  position: relative;
  padding-bottom: 4rem;

  .content {
    padding-top: 4rem;
  }
}

// Polariod
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);

  > img {
    max-width: 100%;
    height: auto;
  }
  .caption {
    font-family: "Courier New", cursive !important;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3em;
    color: $gray-600;
  }
}
.polaroid-item {
  display: inline-block;

  &.first {
    transform: scale(0.8, 0.8) rotate(5deg);
  }
  &.second {
    transform: scale(0.8, 0.8) rotate(-7deg);
  }
}

@include media-breakpoint-up(xl) {
  .polaroid-item {
    margin-top: 2rem;
  }
}

// Speisekarte-Seite
#speisekarte {
  padding-top: 5rem;
  overflow: hidden;

  h5 {
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }
  }

  .irrtum {
    font-size: 0.75rem;
  }

  #speisen,
  #getraenke,
  #spezi {
    z-index: 1;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 300px;
      width: 300px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
    }
  }

  #speisen {
    &::before {
      background-image: url(../assets/img/hintergrund-waffel.svg);
      top: -20px;
      left: -80px;
    }

    &::after {
      background-image: url(../assets/img/hintergrund-petersilie.svg);
      bottom: -120px;
      right: -80px;
    }
  }

  #getraenke {
    &::before {
      background-image: url(../assets/img/hintergrund-kaffeebohne.svg);
      top: -70px;
      left: -80px;
    }

    &::after {
      height: 380px;
      width: 380px;
      background-image: url(../assets/img/hintergrund-wein.svg);
      bottom: -25px;
      right: -90px;
    }
  }

  #spezi {
    &::before {
      height: 350px;
      width: 350px;
      background-image: url(../assets/img/hintergrund-region.svg);
      top: -60px;
      left: -120px;
    }
  }

  .title {
    padding: 0;
    margin-bottom: 1rem;

    &::before {
      display: none;
    }
  }

  .subtitle {
    font-size: 18px;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  h2 {
    color: $primary;
  }

  .linie {
    position: relative;
    margin-bottom: 4rem;

    &:before {
      content: " ";
      position: absolute;
      display: block;
      width: 56px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      opacity: 1;
      border-top: 4px solid $feldblick-gruen;
      -webkit-transition: all 0.3s ease-in-out 0.3s;
      -moz-transition: all 0.3s ease-in-out 0.3s;
      transition: all 0.3s ease-in-out 0.3s;
    }
  }

  .row3 {
    @include media-breakpoint-up(md) {
      .eintrag:nth-child(odd) {
        padding-left: 1.5rem;
      }
      .eintrag:nth-child(2n) {
        padding-right: 1.5rem;
      }
    }
  }
}

// Kontakt-Seite

.gfm-embed {
  padding: 0;
}

.navbar-collapse {
  transition: all 0.4s;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-collapse {
    .fullscreen-toggler {
      display: none;
    }
    .navigation__background {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .navbar-expand-sm .navbar-collapse {
    .navbar-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      text-align: center;
      font-size: 28px;
    }

    .fullscreen-toggler {
      display: block;
      border: none;
      position: fixed;
      top: 25px;
      right: 25px;
      z-index: 9999;
      transition: none;
      font-size: 35px;
    }
  }
}

// Reactions
$reaction-list: like, love, haha, wow, sad, angry;
$reaction-size: 40;
$fadeIn: 0.2s;
.feed {
  position: relative;
  padding-bottom: 50px;
  .like-btn {
    position: absolute;
    bottom: 13px;
    left: 13px;
    cursor: pointer;
    display: flex;

    &::before {
      content: ".";
      opacity: 0;
      display: block;
      width: 100%;
      height: 10px;
      position: absolute;
      top: -10px;
      left: 0;
    }

    .reaction-box {
      position: absolute;
      width: 312px;
      height: 55px;
      background: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 28px;
      left: -15px;
      bottom: 35px;
      display: none;

      @for $i from 1 through length($reaction-list) {
        $reaction: nth($reaction-list, $i);
        .reaction-icon.#{$reaction} {
          animation: fadeInLoad-#{$reaction} $fadeIn;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
          background-position: 0px ($reaction-size * ($i - 1) * -1px);
        }
      }

      .reaction-icon {
        display: inline-block;
        width: $reaction-size * 1px;
        height: $reaction-size * 1px;
        background: #f0c674;
        border-radius: 20px;
        margin: 8px -1px 0 8px;
        text-align: center;
        // Animation
        transition: all $fadeIn cubic-bezier(0.175, 0.885, 0.32, 1.275);
        opacity: 0;
        transform: translate(0, 100px) scale(0);

        label {
          padding: 3px 5px 3px 5px;
          position: relative;
          top: -24px;
          border-radius: 10px;
          font-size: 11px;
          color: #fff;
          background: #333;
          visibility: hidden;
        }
      }
    }

    &:hover {
      .reaction-box {
        display: block;

        .reaction-icon {
          &.show {
            opacity: 1;
            transform: translate(0, 0) scale(1);
          }

          &:hover {
            transform: scale(1.4);
            transform-origin: bottom;

            label {
              visibility: visible;
            }
          }
        }
      }
    }

    .placeholder-btn {
      min-width: 150px;
    }

    .placeholder-btn.like {
      color: #fff;
      border-color: #1877f2;
      background-color: #1877f2;
    }
    .placeholder-btn.love {
      color: #fff;
      border-color: #f33e58;
      background-color: #f33e58;
    }
    .placeholder-btn.haha {
      color: #fff;
      border-color: #f7b125;
      background-color: #f7b125;
    }
    .placeholder-btn.wow {
      color: #fff;
      border-color: #f7b125;
      background-color: #f7b125;
    }
    .placeholder-btn.sad {
      color: #fff;
      border-color: #f7b125;
      background-color: #f7b125;
    }
    .placeholder-btn.angry {
      color: #fff;
      border-color: #e9710f;
      background-color: #e9710f;
    }
  }

  .reaction-count {
    padding-bottom: 1rem;
    .count {
      margin-left: -6px;
      margin-right: 8px;
    }
  }
}

.reaction-stack {
  display: flex;
  position: relative;
}

.reaction-stack .reaction-count-aktuelles {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  background: white;
  position: relative;
  margin-left: -8px; /* ← Überlappung! */
}

.reaction-stack .reaction-count-aktuelles:first-child {
  margin-left: 0;
}

.aktuelles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0rem !important;
}
