/* Scroll-to-top button styling */
#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: $feldblick-gruen;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

#scrollToTopBtn:hover {
  background-color: $feldblick-gruen_highlight;
  transform: translateY(-5px);
}

#scrollToTopBtn.show {
  display: flex;
}
